flow.json
[{"id":"3a9fb996.bbe926","type":"tab","label":"owid-covid-data","disabled":false,"info":""},{"id":"828b3fe0.ce8ff","type":"ui_group","z":"","name":"charts","tab":"e3251669.740868","order":3,"disp":false,"width":"12","collapse":false},{"id":"e3251669.740868","type":"ui_tab","z":"","name":"owid-covid-data","icon":"dashboard","order":9,"disabled":false,"hidden":true},{"id":"56007dad.ba8d24","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7075490e.7cac28","type":"ui_group","z":"","name":"Filter","tab":"e3251669.740868","order":1,"disp":true,"width":"7","collapse":false},{"id":"7bc90a44.ed8dd4","type":"ui_group","z":"","name":"github","tab":"e3251669.740868","order":2,"disp":true,"width":"6","collapse":false},{"id":"c77dcaba.ebe128","type":"ui_group","z":"","name":"average reproduction rate","tab":"e3251669.740868","order":5,"disp":true,"width":"6","collapse":false},{"id":"e89c34cf.95af58","type":"ui_group","z":"3a9fb996.bbe926","name":"Reproduction Chart","tab":"e3251669.740868","order":4,"disp":false,"width":"13","collapse":false},{"id":"366031e1.19a67e","type":"ui_group","z":"","name":"location 1","tab":"e3251669.740868","order":6,"disp":true,"width":"6","collapse":false},{"id":"fdc57d76.7fafa","type":"ui_group","z":"","name":"location 2","tab":"e3251669.740868","order":7,"disp":true,"width":"6","collapse":false},{"id":"c3387945.6987c8","type":"inject","z":"3a9fb996.bbe926","name":"Run flow","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":120,"wires":[["c010259.2cf98d8","bddf1478.9b09c8"]]},{"id":"c010259.2cf98d8","type":"http request","z":"3a9fb996.bbe926","name":"get owid-covid-data.csv","method":"GET","ret":"txt","paytoqs":false,"url":"https://covid.ourworldindata.org/data/owid-covid-data.csv","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":120,"wires":[["164fca1a.bdcc36"]]},{"id":"4c5e0107.81dd","type":"csv","z":"3a9fb996.bbe926","name":"csv2array","sep":",","hdrin":true,"hdrout":false,"multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"x":600,"y":160,"wires":[["99fb2113.37e54","c8dbff0d.cef35"]]},{"id":"c826db11.2bca08","type":"ui_chart","z":"3a9fb996.bbe926","name":"","group":"828b3fe0.ce8ff","order":2,"width":"12","height":"7","label":"%new cases (with respect to new tests)","chartType":"line","legend":"true","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"1000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0433ff","#009051","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":900,"wires":[[]]},{"id":"99fb2113.37e54","type":"debug","z":"3a9fb996.bbe926","name":"owid-covid-data json","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":820,"y":160,"wires":[]},{"id":"c8dbff0d.cef35","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"covid_data","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":220,"wires":[["bc39bac.e135f48","9b88f1d0.e8c99","185638b4.45eab7"]]},{"id":"f211e551.667b68","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"location1","pt":"msg","to":"location1","tot":"flow"},{"t":"set","p":"location2","pt":"msg","to":"location2","tot":"flow"},{"t":"set","p":"covid_data","pt":"msg","to":"covid_data","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"(\t   $location1 := location1;\t   $location2 := location2;\t   {\t       \"location1\" : \t        covid_data[location=$location1 and new_tests>0].{\t           \"date\" : date,\t           \"new_cases\" : new_cases,\t           \"new_tests\" : new_tests,\t           \"positive_test_percentage\" : $round(\t               new_cases / new_tests * 100 ,2),\t            \"total_cases\" : total_cases,\t            \"total_tests\" : total_tests,\t            \"population_in_thousand\": ($location1=\"United Kingdom\" ? 66573:\t                                       $location1=\"Israel\" ? 8884 :\t                                       $location1=\"Czech Republic\" ? 10650 :\t                                       $location1=\"Iceland\" ? 364 :\t                                       $location1=\"Estonia\" ? 1328:\t                                       total_cases*1000/total_cases_per_million)\t      },\t     \"location2\":         covid_data[location=$location2 and new_tests>0].{    \t            \"date\" : date,     \t            \"new_cases\" : new_cases,     \t            \"new_tests\" : new_tests,     \t            \"positive_test_percentage\" : $round(new_cases / new_tests * 100 ,\t               2\t           ),\t           \"total_cases\" : total_cases,\t           \"total_tests\" : total_tests,\t           \"population_in_thousand\": ($location2=\"United Kingdom\" ? 66573:\t                                      $location2=\"Israel\" ? 8884 :\t                                      $location2=\"Czech Republic\" ? 10650 :\t                                      $location2=\"Iceland\" ? 364 :\t                                      $location2=\"Estonia\" ? 1328:\t                                      total_cases*1000/total_cases_per_million)\t      }\t   }\t)\t/* see https://try.jsonata.org/WEDEzGOBb  */","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":520,"wires":[["d6412970.f37978","ce16a18e.14da5"]]},{"id":"d6412970.f37978","type":"debug","z":"3a9fb996.bbe926","name":"covid data for location1 and location2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":520,"wires":[]},{"id":"d04b500a.baa45","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t   {\t       \"series\": [location1, location2],\t       \"data\": [\t           [\t               payload.location1.{\t                   \"x\" : $toMillis(date),\t                   \"y\" : positive_test_percentage \t               }\t           ],\t           [\t               payload.location2.{\t                   \"x\" : $toMillis(date),\t                   \"y\" : positive_test_percentage \t               }\t           ]\t          ],\t       \"labels\": [\"\"]\t}\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":900,"wires":[["c826db11.2bca08"]]},{"id":"44dcda4e.51f944","type":"ui_chart","z":"3a9fb996.bbe926","name":"","group":"828b3fe0.ce8ff","order":1,"width":"12","height":4,"label":"new tests per thousand (population)","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"1000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0433ff","#009051","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":860,"wires":[[]]},{"id":"9476a458.94ece8","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t   {\t       \"series\": [location1, location2],\t       \"data\": [\t           [\t               payload.location1.{\t                   \"x\" : $toMillis(date),\t                   \"y\" : new_tests_per_thousand \t               }\t           ],\t           [\t               payload.location2.{\t                   \"x\" : $toMillis(date),\t                   \"y\" : new_tests_per_thousand\t               }\t           ]\t          ],\t       \"labels\": [\"\"]\t}\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":860,"wires":[["44dcda4e.51f944"]]},{"id":"5819eb08.df1c14","type":"ui_chart","z":"3a9fb996.bbe926","name":"","group":"828b3fe0.ce8ff","order":3,"width":"12","height":"7","label":"new (confirmed) cases per thousand (population)","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"1000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#76d6ff","#00f900","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":940,"wires":[[]]},{"id":"d308a880.137648","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t   {\t       \"series\": [location1,location2],\t       \"data\": [\t           [\t               payload.location1.{\t                   \"x\" : $toMillis(date),\t                   \"y\" : new_cases_per_thousand\t               }\t           ],\t                      [\t               payload.location2.{\t                   \"x\" : $toMillis(date),\t                   \"y\" : new_cases_per_thousand\t               }\t           ]\t          ],\t       \"labels\": [\"\"]\t}\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":940,"wires":[["5819eb08.df1c14"]]},{"id":"cdd81598.25c3b8","type":"ui_dropdown","z":"3a9fb996.bbe926","name":"location1 dropdown","label":"location1","tooltip":"","place":"Select option","group":"7075490e.7cac28","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":560,"y":320,"wires":[["2203fb23.dd7704"]]},{"id":"bc39bac.e135f48","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload[new_tests>0].location ~> $distinct ~> $sort","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":360,"wires":[["2753fa25.e238a6","6af92528.bf095c"]]},{"id":"2203fb23.dd7704","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"location1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":320,"wires":[["8ba29581.5d84f8","21f6225a.3d4f3e"]]},{"id":"2753fa25.e238a6","type":"change","z":"3a9fb996.bbe926","name":"set to Belgium","rules":[{"t":"set","p":"payload","pt":"msg","to":"Belgium","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":320,"wires":[["cdd81598.25c3b8"]]},{"id":"6af92528.bf095c","type":"change","z":"3a9fb996.bbe926","name":"set to Italy","rules":[{"t":"set","p":"payload","pt":"msg","to":"Italy","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":380,"wires":[["efd55a63.c3a458"]]},{"id":"efd55a63.c3a458","type":"ui_dropdown","z":"3a9fb996.bbe926","name":"location1 dropdown","label":"location2","tooltip":"","place":"Select option","group":"7075490e.7cac28","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":560,"y":380,"wires":[["39013f83.273c5"]]},{"id":"39013f83.273c5","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"location2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":380,"wires":[["d35aba75.cd02f8","72a41a7c.2a5364"]]},{"id":"c5ba297f.3149a8","type":"ui_button","z":"3a9fb996.bbe926","name":"","group":"7bc90a44.ed8dd4","order":1,"width":0,"height":0,"passthru":false,"label":"retrieve owid-covid-data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":60,"wires":[["c010259.2cf98d8"]]},{"id":"d35aba75.cd02f8","type":"switch","z":"3a9fb996.bbe926","name":"flow.location1 not null ?","property":"location1","propertyType":"flow","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":540,"wires":[["f211e551.667b68"]]},{"id":"8ba29581.5d84f8","type":"switch","z":"3a9fb996.bbe926","name":"flow.location2 not null ?","property":"location2","propertyType":"flow","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":500,"wires":[["f211e551.667b68"]]},{"id":"ce16a18e.14da5","type":"change","z":"3a9fb996.bbe926","name":"running average","rules":[{"t":"set","p":"running_average_days","pt":"msg","to":"running_average_days","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"(\t  $x := running_average_days;\t{\t \"location1\" : payload.location1 ~> $map( function($v, $i, $a) \t     { \t        (\t          $v_min_x := $a[$i-$x]; /* take care this is circular !*/\t          $new_cases := ($v.total_cases - $v_min_x.total_cases)/$x;\t          $new_tests := ($v.total_tests - $v_min_x.total_tests)/$x;\t          \t          {\t            \"date\" : ($toMillis($v.date) + $toMillis($v_min_x.date))/2 ~> $fromMillis(),\t            \"new_cases_per_thousand\" : $new_cases/$v.population_in_thousand,\t            \"new_tests_per_thousand\" : $new_tests/$v.population_in_thousand,\t            \"positive_test_percentage\": $new_cases*100/$new_tests ~> $round(2)\t          }\t        )\t     }) ~> $filter (function($v, $i, $a) { $i>=$x}),\t  \"location2\": payload.location2 ~> $map( function($v, $i, $a) \t     { \t        (\t          $v_min_x := $a[$i-$x]; /* take care this is circular !*/\t          $new_cases := ($v.total_cases - $v_min_x.total_cases)/$x;\t          $new_tests := ($v.total_tests - $v_min_x.total_tests)/$x;\t          \t          {\t            \"date\" : ($toMillis($v.date) + $toMillis($v_min_x.date))/2 ~> $fromMillis(),\t            \"new_cases_per_thousand\" : $new_cases/$v.population_in_thousand,\t            \"new_tests_per_thousand\" : $new_tests/$v.population_in_thousand,\t            \"positive_test_percentage\": $new_cases*100/$new_tests ~> $round(2)\t          }\t        )\t     }) ~> $filter (function($v, $i, $a) { $i>=$x})\t     \t}\t)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":580,"wires":[["d04b500a.baa45","9476a458.94ece8","d308a880.137648","529b9278.947aac","e30083b3.51f12","43bc878f.cac668","23ef5b36.c85664"]]},{"id":"529b9278.947aac","type":"debug","z":"3a9fb996.bbe926","name":"running average","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":580,"wires":[]},{"id":"4b0da2ab.fc904c","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"running_average_days","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":40,"wires":[["f211e551.667b68"]]},{"id":"bddf1478.9b09c8","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"7","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":40,"wires":[["a3a09f70.89765"]]},{"id":"15636a9d.bbd545","type":"ui_text_input","z":"3a9fb996.bbe926","name":"","label":"max date in data set","tooltip":"","group":"7bc90a44.ed8dd4","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1080,"y":220,"wires":[[]]},{"id":"9b88f1d0.e8c99","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$max(payload.$toMillis(date))~>$fromMillis()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":220,"wires":[["15636a9d.bbd545"]]},{"id":"79b611ae.ae3ec","type":"ui_text_input","z":"3a9fb996.bbe926","name":"","label":"last time date retrieved","tooltip":"","group":"7bc90a44.ed8dd4","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1160,"y":280,"wires":[[]]},{"id":"185638b4.45eab7","type":"change","z":"3a9fb996.bbe926","name":"get timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":280,"wires":[["79b611ae.ae3ec"]]},{"id":"a3a09f70.89765","type":"ui_slider","z":"3a9fb996.bbe926","name":"","label":"running average number of days:","tooltip":"","group":"7075490e.7cac28","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"1","max":"20","step":1,"x":700,"y":40,"wires":[["4b0da2ab.fc904c"]]},{"id":"164fca1a.bdcc36","type":"switch","z":"3a9fb996.bbe926","name":"statusCode = 200 ?","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":650,"y":120,"wires":[["d29c622e.fe8b"],["4c5e0107.81dd"]]},{"id":"e1c555aa.70c088","type":"ui_toast","z":"3a9fb996.bbe926","position":"top right","displayTime":"10","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1050,"y":80,"wires":[]},{"id":"d29c622e.fe8b","type":"change","z":"3a9fb996.bbe926","name":"set errormessage","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Problem retrieving data (statusCode =\" & statusCode & \")\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":80,"wires":[["e1c555aa.70c088"]]},{"id":"e30083b3.51f12","type":"change","z":"3a9fb996.bbe926","name":"calculate reproduction factors","rules":[{"t":"set","p":"last_x_weeks","pt":"msg","to":"last_x_weeks","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"(\t  $last_x_weeks          := last_x_weeks;\t  $location1_now         := payload.location1[-1];\t  $location1_x_weeks_ago := payload.location1[-1-(7*$last_x_weeks)];\t  $location2_now         := payload.location2[-1];\t  $location2_x_weeks_ago := payload.location2[-1-(7*$last_x_weeks)];\t  $location1_reproduction_rate := (($location1_now.positive_test_percentage/$location1_x_weeks_ago.positive_test_percentage) +\t                                   ($location1_now.new_cases_per_thousand/$location1_x_weeks_ago.new_cases_per_thousand))/2;\t  $location2_reproduction_rate := (($location2_now.positive_test_percentage/$location2_x_weeks_ago.positive_test_percentage) +\t                                   ($location2_now.new_cases_per_thousand/$location2_x_weeks_ago.new_cases_per_thousand))/2;\t  $location1_weekly_reproduction_rate := $power($location1_reproduction_rate, (1/$last_x_weeks));\t  $location2_weekly_reproduction_rate := $power($location2_reproduction_rate, (1/$last_x_weeks));\t  $location1_factor_to_1ppm := $location1_now.new_cases_per_thousand/0.001;\t  $location2_factor_to_1ppm := $location2_now.new_cases_per_thousand/0.001;  \t  {\t    \"location1\" : {\t          \"weekly_reproduction_rate\" :$location1_weekly_reproduction_rate~> $round(2),\t          \"reproduction_rate_for_period\" :   \t               $location1_reproduction_rate ~> $round(2),\t           \"factor_to_1ppm\": $location1_factor_to_1ppm~> $round(2),\t           \"last_date\": payload.location1[-1].date\t               },\t    \"location2\" : {\t          \"weekly_reproduction_rate\" :$location2_weekly_reproduction_rate~> $round(2),\t          \"reproduction_rate_for_period\" :   \t            $location2_reproduction_rate ~> $round(2),\t           \"factor_to_1ppm\": $location2_factor_to_1ppm~> $round(2),\t           \"last_date\": payload.location2[-1].date\t               }           \t  }\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":700,"wires":[["40ee0ab4.b257e4","9741f258.c7a","b3dd7050.4176c","bbf42cef.526c3","514dd192.00878","4516276d.16d788","aa2d19c7.809558","7eab409e.39896"]]},{"id":"40ee0ab4.b257e4","type":"ui_text","z":"3a9fb996.bbe926","group":"366031e1.19a67e","order":2,"width":0,"height":0,"name":"","label":"weekly reproduction rate","format":"{{msg.payload.location1.weekly_reproduction_rate}}","layout":"row-spread","x":1270,"y":640,"wires":[]},{"id":"9741f258.c7a","type":"debug","z":"3a9fb996.bbe926","name":"reproduction factors","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1260,"y":600,"wires":[]},{"id":"b3dd7050.4176c","type":"ui_text","z":"3a9fb996.bbe926","group":"fdc57d76.7fafa","order":2,"width":0,"height":0,"name":"","label":"weekly reproduction rate","format":"{{msg.payload.location2.weekly_reproduction_rate}}","layout":"row-spread","x":1270,"y":680,"wires":[]},{"id":"43bc878f.cac668","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t\t   {\t       \"series\": [location1 & \" (% new cases)\", location1 & \" (new cases)\",\t                  location2 & \" (% new cases)\", location2 & \" (new cases)\"\t       ],\t       \"data\":\t       (\t         /* the threshold for India is lowered to 1 case per 10 million */\t         $threshold_loc1 :=  location1 = \"India\" ? 0.0001 : 0.001 ;\t         $threshold_loc2 :=  location2 = \"India\" ? 0.0001 : 0.001 ;\t       [\t           [\t               payload.location1~>$map(function($v,$i,$a){\t                         {\t                           \"x\" : $toMillis($v.date),\t                           /* y = -1 when there is less than 1 case in million */\t                           \"y\" : ( ($v.new_cases_per_thousand>$threshold_loc1) and ($a[$i+7].new_cases_per_thousand>$threshold_loc1) ?\t                                   $a[$i+7].positive_test_percentage/$v.positive_test_percentage~>$round(2):\t                                   -1)\t                         }\t                     })\t           ][y>=0],\t           [\t               payload.location1~>$map(function($v,$i,$a){\t                         {\t                           \"x\" : $toMillis($v.date),\t                           \"y\" : ( ($v.new_cases_per_thousand>$threshold_loc1) and ($a[$i+7].new_cases_per_thousand>$threshold_loc1) ?\t                                   $a[$i+7].new_cases_per_thousand/$v.new_cases_per_thousand~>$round(2):\t                                   -1)\t                         }\t                     })\t           ][y>=0],\t           [\t               payload.location2~>$map(function($v,$i,$a){\t                         {\t                           \"x\" : $toMillis($v.date),\t                           \"y\" : ( ($v.new_cases_per_thousand>$threshold_loc2) and ($a[$i+7].new_cases_per_thousand>$threshold_loc2) ?\t                                   $a[$i+7].positive_test_percentage/$v.positive_test_percentage~>$round(2):\t                                   -1)\t                         }\t                     })\t           ][y>=0],\t           [\t               payload.location2~>$map(function($v,$i,$a){\t                         {\t                           \"x\" : $toMillis($v.date),\t                           \"y\" : ( ($v.new_cases_per_thousand>$threshold_loc2) and ($a[$i+7].new_cases_per_thousand>$threshold_loc2) ?\t                                   $a[$i+7].new_cases_per_thousand/$v.new_cases_per_thousand~>$round(2):\t                                   -1)\t                         }\t                     })\t           ][y>=0]\t          ]\t        ),\t       \"labels\": [\"\"]\t}\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":780,"wires":[["2aa1c807.351eb8"]]},{"id":"2ed1a7d.6aca758","type":"ui_chart","z":"3a9fb996.bbe926","name":"","group":"e89c34cf.95af58","order":1,"width":13,"height":"7","label":"(averaged) reproduction number (assuming incubation period = 1 week)","chartType":"line","legend":"true","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2","removeOlder":"8","removeOlderPoints":"1000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff2600","#0433ff","#008f00","#00f900","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700,"y":820,"wires":[[]]},{"id":"2aa1c807.351eb8","type":"ui_chart","z":"3a9fb996.bbe926","name":"","group":"e89c34cf.95af58","order":2,"width":13,"height":"7","label":"reproduction number (assuming incubation period = 1 week)","chartType":"line","legend":"true","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"8","removeOlderPoints":"1000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0433ff","#76d6ff","#008f00","#00f900","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":780,"wires":[[]]},{"id":"23ef5b36.c85664","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t   {\t       \"series\": [\"allowed max\", location1 , location2 ],\t       \"data\": \t         (\t         /* the threshold for India is lowered to 1 case per 10 million */\t         $threshold_loc1 :=  location1 = \"India\" ? 0.0001 : 0.001 ;\t         $threshold_loc2 :=  location2 = \"India\" ? 0.0001 : 0.001 ;\t         [\t           [\t               payload.location1~>$map(function($v,$i,$a){\t                         {\t                           \"x\" : $toMillis($v.date),\t                           /* y = -1 when there is less than 1 case in million */\t                           \"y\" : ( ($v.new_cases_per_thousand>$threshold_loc1) and ($a[$i+7].new_cases_per_thousand>$threshold_loc1) ?\t                                   1:\t                                   -1)\t                         }\t                     })\t           ][y>=0],\t           [\t               payload.location1~>$map(function($v,$i,$a){\t                         {\t                           \"x\" : $toMillis($v.date),\t                           /* y = -1 when there is less than 1 case in million */\t                           \"y\" : ( ($v.new_cases_per_thousand>$threshold_loc1) and ($a[$i+7].new_cases_per_thousand>$threshold_loc1) ?\t                                   (($a[$i+7].positive_test_percentage/$v.positive_test_percentage)+\t                                    ($a[$i+7].new_cases_per_thousand/$v.new_cases_per_thousand))/2~>$round(2):\t                                   -1)\t                         }\t                     })\t           ][y>=0],\t           [\t               payload.location2~>$map(function($v,$i,$a){\t                         {\t                           \"x\" : $toMillis($v.date),\t                           \"y\" : ( ($v.new_cases_per_thousand>$threshold_loc2) and ($a[$i+7].new_cases_per_thousand>$threshold_loc2) ?\t                                   (($a[$i+7].positive_test_percentage/$v.positive_test_percentage)+\t                                    ($a[$i+7].new_cases_per_thousand/$v.new_cases_per_thousand))/2~>$round(2):\t                                   -1)\t                         }\t                     })\t           ][y>=0]\t          ] ),\t       \"labels\": [\"\"]\t}\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":820,"wires":[["2ed1a7d.6aca758"]]},{"id":"1dfa56ae.c287a9","type":"ui_numeric","z":"3a9fb996.bbe926","name":"last x weeks","label":"period","tooltip":"","group":"c77dcaba.ebe128","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"last {{value}} weeks","min":"1","max":10,"step":1,"x":1110,"y":440,"wires":[["ad9970be.06e94","f211e551.667b68"]]},{"id":"ad9970be.06e94","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"last_x_weeks","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":440,"wires":[[]]},{"id":"12b264a.814219b","type":"inject","z":"3a9fb996.bbe926","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1050,"y":400,"wires":[["1dfa56ae.c287a9"]]},{"id":"bbf42cef.526c3","type":"ui_text","z":"3a9fb996.bbe926","group":"366031e1.19a67e","order":3,"width":0,"height":0,"name":"","label":"reproduction rate for period","format":"{{msg.payload.location1.reproduction_rate_for_period}}","layout":"row-spread","x":1340,"y":720,"wires":[]},{"id":"514dd192.00878","type":"ui_text","z":"3a9fb996.bbe926","group":"fdc57d76.7fafa","order":3,"width":0,"height":0,"name":"","label":"reproduction rate for period","format":"{{msg.payload.location2.reproduction_rate_for_period}}","layout":"row-spread","x":1340,"y":760,"wires":[]},{"id":"ae4060a7.47c75","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":540,"wires":[[]]},{"id":"21f6225a.3d4f3e","type":"ui_text","z":"3a9fb996.bbe926","group":"366031e1.19a67e","order":1,"width":0,"height":0,"name":"location1","label":"country","format":"{{msg.payload}}","layout":"row-spread","x":1340,"y":320,"wires":[]},{"id":"72a41a7c.2a5364","type":"ui_text","z":"3a9fb996.bbe926","group":"fdc57d76.7fafa","order":1,"width":0,"height":0,"name":"location2","label":"country","format":"{{msg.payload}}","layout":"row-spread","x":1340,"y":360,"wires":[]},{"id":"4516276d.16d788","type":"ui_text","z":"3a9fb996.bbe926","group":"366031e1.19a67e","order":4,"width":0,"height":0,"name":"","label":"new cases per million per day","format":"{{msg.payload.location1.factor_to_1ppm | number : 1}}","layout":"row-spread","x":1290,"y":800,"wires":[]},{"id":"aa2d19c7.809558","type":"ui_text","z":"3a9fb996.bbe926","group":"fdc57d76.7fafa","order":4,"width":0,"height":0,"name":"","label":"new cases per million per day","format":"{{msg.payload.location2.factor_to_1ppm  | number : 1}}","layout":"row-spread","x":1290,"y":840,"wires":[]},{"id":"7eab409e.39896","type":"function","z":"3a9fb996.bbe926","name":"calculate nr of weeks to 1ppm","func":"msg.location1_nr_of_weeks = -  Math.log(msg.payload.location1.factor_to_1ppm)/Math.log(msg.payload.location1.weekly_reproduction_rate);\nmsg.location2_nr_of_weeks = -  Math.log(msg.payload.location2.factor_to_1ppm)/Math.log(msg.payload.location2.weekly_reproduction_rate);\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":980,"wires":[["bb913191.10f88","326b4dad.53dc12","829d3deb.f0ea8","70d2174f.66a8e8"]]},{"id":"bb913191.10f88","type":"ui_text","z":"3a9fb996.bbe926","group":"366031e1.19a67e","order":4,"width":0,"height":0,"name":"","label":"nr of weeks to 1 case per million per day (pM pD)","format":"{{msg.location1_nr_of_weeks | number:1}}","layout":"row-spread","x":1470,"y":980,"wires":[]},{"id":"326b4dad.53dc12","type":"ui_text","z":"3a9fb996.bbe926","group":"fdc57d76.7fafa","order":4,"width":0,"height":0,"name":"","label":"nr of weeks to 1 case per million per day (pM pD)","format":"{{msg.location2_nr_of_weeks | number:1}}","layout":"row-spread","x":1470,"y":1020,"wires":[]},{"id":"829d3deb.f0ea8","type":"debug","z":"3a9fb996.bbe926","name":"with nr of weeks to 1 case per million","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1430,"y":940,"wires":[]},{"id":"b96d7fe3.d1362","type":"ui_text","z":"3a9fb996.bbe926","group":"366031e1.19a67e","order":4,"width":0,"height":0,"name":"loc1: date when only 1 case per million per day","label":"date when 1 case pM pD","format":"{{msg.payload.location1_date_at_1_new_case_per_million}}","layout":"row-spread","x":1400,"y":1080,"wires":[]},{"id":"34dbe145.a26afe","type":"ui_text","z":"3a9fb996.bbe926","group":"fdc57d76.7fafa","order":4,"width":0,"height":0,"name":"loc2: date when only 1 case per million per day","label":"date when 1 case pM pD","format":"{{msg.payload.location2_date_at_1_new_case_per_million}}","layout":"row-spread","x":1400,"y":1120,"wires":[]},{"id":"70d2174f.66a8e8","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t  \"location1_date_at_1_new_case_per_million\" : ($toMillis(payload.location1.last_date)+(location1_nr_of_weeks*7*24*60*60*1000)) ~> $fromMillis(\"[Y]-[M]-[D]\"),\t  \"location2_date_at_1_new_case_per_million\" : ($toMillis(payload.location2.last_date)+(location2_nr_of_weeks*7*24*60*60*1000)) ~> $fromMillis(\"[Y]-[M]-[D]\")\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":1080,"wires":[["b96d7fe3.d1362","34dbe145.a26afe"]]}]