flow.json
[{"id":"3a9fb996.bbe926","type":"tab","label":"owid-covid-data","disabled":false,"info":""},{"id":"828b3fe0.ce8ff","type":"ui_group","z":"","name":"charts","tab":"e3251669.740868","order":2,"disp":false,"width":"13","collapse":false},{"id":"e3251669.740868","type":"ui_tab","z":"","name":"owid-covid-data","icon":"dashboard","order":9,"disabled":false,"hidden":true},{"id":"56007dad.ba8d24","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7075490e.7cac28","type":"ui_group","z":"","name":"Filter","tab":"e3251669.740868","order":1,"disp":true,"width":"6","collapse":false},{"id":"7bc90a44.ed8dd4","type":"ui_group","z":"","name":"github","tab":"e3251669.740868","order":3,"disp":true,"width":"6","collapse":false},{"id":"c3387945.6987c8","type":"inject","z":"3a9fb996.bbe926","name":"Run flow","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":100,"wires":[["c010259.2cf98d8","bddf1478.9b09c8"]]},{"id":"c010259.2cf98d8","type":"http request","z":"3a9fb996.bbe926","name":"get owid-covid-data.csv","method":"GET","ret":"txt","paytoqs":false,"url":"https://github.com/owid/covid-19-data/raw/master/public/data/owid-covid-data.csv","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":100,"wires":[["4c5e0107.81dd"]]},{"id":"4c5e0107.81dd","type":"csv","z":"3a9fb996.bbe926","name":"csv2array","sep":",","hdrin":true,"hdrout":false,"multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"x":580,"y":100,"wires":[["99fb2113.37e54","c8dbff0d.cef35"]]},{"id":"c826db11.2bca08","type":"ui_chart","z":"3a9fb996.bbe926","name":"","group":"828b3fe0.ce8ff","order":1,"width":13,"height":6,"label":"%new cases (with respect to new tests)","chartType":"line","legend":"true","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"1000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#942192","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":660,"wires":[[]]},{"id":"99fb2113.37e54","type":"debug","z":"3a9fb996.bbe926","name":"owid-covid-data json","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":100,"wires":[]},{"id":"c8dbff0d.cef35","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"covid_data","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":160,"wires":[["bc39bac.e135f48","9b88f1d0.e8c99","185638b4.45eab7"]]},{"id":"f211e551.667b68","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"location1","pt":"msg","to":"location1","tot":"flow"},{"t":"set","p":"location2","pt":"msg","to":"location2","tot":"flow"},{"t":"set","p":"covid_data","pt":"msg","to":"covid_data","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"(\t   $location1 := location1;\t   $location2 := location2;\t   {\t       \"location1\" : \t        covid_data[location=$location1 and new_tests>0].{\t           \"date\" : date,\t           \"new_cases\" : new_cases,\t           \"new_tests\" : new_tests,\t           \"positive_test_percentage\" : $round(\t               new_cases / new_tests * 100 ,2),\t            \"total_cases\" : total_cases,\t            \"total_tests\" : total_tests,\t            \"population_in_thousand\": ($location1=\"United Kingdom\" ? 66573:\t                                       total_cases*1000/total_cases_per_million)\t      },\t     \"location2\":         covid_data[location=$location2 and new_tests>0].{    \t            \"date\" : date,     \t            \"new_cases\" : new_cases,     \t            \"new_tests\" : new_tests,     \t            \"positive_test_percentage\" : $round(new_cases / new_tests * 100 ,\t               2\t           ),\t           \"total_cases\" : total_cases,\t           \"total_tests\" : total_tests,\t           \"population_in_thousand\": ($location2=\"United Kingdom\" ? 66573:\t                                      total_cases*1000/total_cases_per_million)\t      }\t   }\t)\t/* see https://try.jsonata.org/WEDEzGOBb  */","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":460,"wires":[["d6412970.f37978","ce16a18e.14da5"]]},{"id":"d6412970.f37978","type":"debug","z":"3a9fb996.bbe926","name":"covid data for location1 and location2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":460,"wires":[]},{"id":"d04b500a.baa45","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t   {\t       \"series\": [location1, location2],\t       \"data\": [\t           [\t               payload.location1.{\t                   \"x\" : $toMillis(date),\t                   \"y\" : positive_test_percentage \t               }\t           ],\t           [\t               payload.location2.{\t                   \"x\" : $toMillis(date),\t                   \"y\" : positive_test_percentage \t               }\t           ]\t          ],\t       \"labels\": [\"\"]\t}\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":660,"wires":[["c826db11.2bca08","f19b43a3.24f15"]]},{"id":"f19b43a3.24f15","type":"debug","z":"3a9fb996.bbe926","name":"chart1 input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":620,"wires":[]},{"id":"44dcda4e.51f944","type":"ui_chart","z":"3a9fb996.bbe926","name":"","group":"828b3fe0.ce8ff","order":2,"width":13,"height":5,"label":"new tests per thousand (population)","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"1000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#942192","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":700,"wires":[[]]},{"id":"9476a458.94ece8","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t   {\t       \"series\": [location1, location2],\t       \"data\": [\t           [\t               payload.location1.{\t                   \"x\" : $toMillis(date),\t                   \"y\" : new_tests_per_thousand \t               }\t           ],\t           [\t               payload.location2.{\t                   \"x\" : $toMillis(date),\t                   \"y\" : new_tests_per_thousand\t               }\t           ]\t          ],\t       \"labels\": [\"\"]\t}\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":700,"wires":[["44dcda4e.51f944"]]},{"id":"5819eb08.df1c14","type":"ui_chart","z":"3a9fb996.bbe926","name":"","group":"828b3fe0.ce8ff","order":3,"width":13,"height":"5","label":"new (confirmed) cases per thousand (population)","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"1000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#942192","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":870,"y":740,"wires":[[]]},{"id":"d308a880.137648","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t   {\t       \"series\": [location1,location2],\t       \"data\": [\t           [\t               payload.location1.{\t                   \"x\" : $toMillis(date),\t                   \"y\" : new_cases_per_thousand\t               }\t           ],\t                      [\t               payload.location2.{\t                   \"x\" : $toMillis(date),\t                   \"y\" : new_cases_per_thousand\t               }\t           ]\t          ],\t       \"labels\": [\"\"]\t}\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":740,"wires":[["5819eb08.df1c14"]]},{"id":"cdd81598.25c3b8","type":"ui_dropdown","z":"3a9fb996.bbe926","name":"location1 dropdown","label":"location1","tooltip":"","place":"Select option","group":"7075490e.7cac28","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":540,"y":260,"wires":[["2203fb23.dd7704"]]},{"id":"bc39bac.e135f48","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload[new_tests>0].location ~> $distinct ~> $sort","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":300,"wires":[["2753fa25.e238a6","6af92528.bf095c"]]},{"id":"2203fb23.dd7704","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"location1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":260,"wires":[["8ba29581.5d84f8"]]},{"id":"2753fa25.e238a6","type":"change","z":"3a9fb996.bbe926","name":"set to Belgium","rules":[{"t":"set","p":"payload","pt":"msg","to":"Belgium","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":260,"wires":[["cdd81598.25c3b8"]]},{"id":"6af92528.bf095c","type":"change","z":"3a9fb996.bbe926","name":"set to Italy","rules":[{"t":"set","p":"payload","pt":"msg","to":"Italy","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":320,"wires":[["efd55a63.c3a458"]]},{"id":"efd55a63.c3a458","type":"ui_dropdown","z":"3a9fb996.bbe926","name":"location1 dropdown","label":"location2","tooltip":"","place":"Select option","group":"7075490e.7cac28","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":540,"y":320,"wires":[["39013f83.273c5"]]},{"id":"39013f83.273c5","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"location2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":320,"wires":[["d35aba75.cd02f8"]]},{"id":"c5ba297f.3149a8","type":"ui_button","z":"3a9fb996.bbe926","name":"","group":"7bc90a44.ed8dd4","order":1,"width":0,"height":0,"passthru":false,"label":"retrieve owid-covid-data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":60,"wires":[["c010259.2cf98d8"]]},{"id":"d35aba75.cd02f8","type":"switch","z":"3a9fb996.bbe926","name":"flow.location1 not null ?","property":"location1","propertyType":"flow","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":480,"wires":[["f211e551.667b68"]]},{"id":"8ba29581.5d84f8","type":"switch","z":"3a9fb996.bbe926","name":"flow.location2 not null ?","property":"location2","propertyType":"flow","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":440,"wires":[["f211e551.667b68"]]},{"id":"ce16a18e.14da5","type":"change","z":"3a9fb996.bbe926","name":"running average","rules":[{"t":"set","p":"running_average_days","pt":"msg","to":"running_average_days","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"(\t  $x := running_average_days;\t{\t \"location1\" : payload.location1 ~> $map( function($v, $i, $a) \t     { \t        (\t          $v_min_x := $a[$i-$x]; /* take care this is circular !*/\t          $new_cases := ($v.total_cases - $v_min_x.total_cases)/$x;\t          $new_tests := ($v.total_tests - $v_min_x.total_tests)/$x;\t          \t          {\t            \"date\" : ($toMillis($v.date) + $toMillis($v_min_x.date))/2 ~> $fromMillis(),\t            \"new_cases_per_thousand\" : $new_cases/$v.population_in_thousand,\t            \"new_tests_per_thousand\" : $new_tests/$v.population_in_thousand,\t            \"positive_test_percentage\": $new_cases*100/$new_tests ~> $round(2)\t          }\t        )\t     }) ~> $filter (function($v, $i, $a) { $i>=$x}),\t  \"location2\": payload.location2 ~> $map( function($v, $i, $a) \t     { \t        (\t          $v_min_x := $a[$i-$x]; /* take care this is circular !*/\t          $new_cases := ($v.total_cases - $v_min_x.total_cases)/$x;\t          $new_tests := ($v.total_tests - $v_min_x.total_tests)/$x;\t          \t          {\t            \"date\" : ($toMillis($v.date) + $toMillis($v_min_x.date))/2 ~> $fromMillis(),\t            \"new_cases_per_thousand\" : $new_cases/$v.population_in_thousand,\t            \"new_tests_per_thousand\" : $new_tests/$v.population_in_thousand,\t            \"positive_test_percentage\": $new_cases*100/$new_tests ~> $round(2)\t          }\t        )\t     }) ~> $filter (function($v, $i, $a) { $i>=$x})\t     \t}\t)\t/* input example \t{\t    \"running_average_days\" : 7,\t    \"payload\": {\t        \"location1\": [\t            {\t                \"date\": \"2020-03-01\",\t                \"new_cases\": 0,\t                \"new_tests\": 56,\t                \"positive_test_percentage\": 0,\t                \"total_cases\": 1,\t                \"total_tests\": 56\t            },\t            {\t                \"date\": \"2020-03-02\",\t                \"new_cases\": 1,\t                \"new_tests\": 282,\t                \"positive_test_percentage\": 0.35,\t                \"total_cases\": 2,\t                \"total_tests\": 338\t            },\t            {\t                \"date\": \"2020-03-03\",\t                \"new_cases\": 6,\t                \"new_tests\": 476,\t                \"positive_test_percentage\": 1.26,\t                \"total_cases\": 8,\t                \"total_tests\": 814\t            },\t            {\t                \"date\": \"2020-03-04\",\t                \"new_cases\": 5,\t                \"new_tests\": 634,\t                \"positive_test_percentage\": 0.79,\t                \"total_cases\": 13,\t                \"total_tests\": 1448\t            },\t            {\t                \"date\": \"2020-03-05\",\t                \"new_cases\": 10,\t                \"new_tests\": 705,\t                \"positive_test_percentage\": 1.42,\t                \"total_cases\": 23,\t                \"total_tests\": 2153\t            },\t            {\t                \"date\": \"2020-03-06\",\t                \"new_cases\": 27,\t                \"new_tests\": 1004,\t                \"positive_test_percentage\": 2.69,\t                \"total_cases\": 50,\t                \"total_tests\": 3157\t            },\t            {\t                \"date\": \"2020-03-07\",\t                \"new_cases\": 59,\t                \"new_tests\": 402,\t                \"positive_test_percentage\": 14.68,\t                \"total_cases\": 109,\t                \"total_tests\": 3559\t            },\t            {\t                \"date\": \"2020-03-08\",\t                \"new_cases\": 60,\t                \"new_tests\": 400,\t                \"positive_test_percentage\": 15,\t                \"total_cases\": 169,\t                \"total_tests\": 3959\t            },\t            {\t                \"date\": \"2020-03-09\",\t                \"new_cases\": 31,\t                \"new_tests\": 549,\t                \"positive_test_percentage\": 5.65,\t                \"total_cases\": 200,\t                \"total_tests\": 4508\t            },\t            {\t                \"date\": \"2020-03-10\",\t                \"new_cases\": 39,\t                \"new_tests\": 736,\t                \"positive_test_percentage\": 5.3,\t                \"total_cases\": 239,\t                \"total_tests\": 5244\t            },\t            {\t                \"date\": \"2020-03-11\",\t                \"new_cases\": 28,\t                \"new_tests\": 1014,\t                \"positive_test_percentage\": 2.76,\t                \"total_cases\": 267,\t                \"total_tests\": 6258\t            },\t            {\t                \"date\": \"2020-03-12\",\t                \"new_cases\": 47,\t                \"new_tests\": 1399,\t                \"positive_test_percentage\": 3.36,\t                \"total_cases\": 314,\t                \"total_tests\": 7657\t            },\t            {\t                \"date\": \"2020-03-13\",\t                \"new_cases\": 85,\t                \"new_tests\": 2352,\t                \"positive_test_percentage\": 3.61,\t                \"total_cases\": 399,\t                \"total_tests\": 10009\t            },\t            {\t                \"date\": \"2020-03-14\",\t                \"new_cases\": 160,\t                \"new_tests\": 2001,\t                \"positive_test_percentage\": 8,\t                \"total_cases\": 559,\t                \"total_tests\": 12010\t            },\t            {\t                \"date\": \"2020-03-15\",\t                \"new_cases\": 130,\t                \"new_tests\": 1124,\t                \"positive_test_percentage\": 11.57,\t                \"total_cases\": 689,\t                \"total_tests\": 13134\t            },\t            {\t                \"date\": \"2020-03-16\",\t                \"new_cases\": 197,\t                \"new_tests\": 1666,\t                \"positive_test_percentage\": 11.82,\t                \"total_cases\": 886,\t                \"total_tests\": 14800\t            },\t            {\t                \"date\": \"2020-03-17\",\t                \"new_cases\": 199,\t                \"new_tests\": 1941,\t                \"positive_test_percentage\": 10.25,\t                \"total_cases\": 1085,\t                \"total_tests\": 16741\t            },\t            {\t                \"date\": \"2020-03-18\",\t                \"new_cases\": 158,\t                \"new_tests\": 2337,\t                \"positive_test_percentage\": 6.76,\t                \"total_cases\": 1243,\t                \"total_tests\": 19078\t            },\t            {\t                \"date\": \"2020-03-19\",\t                \"new_cases\": 243,\t                \"new_tests\": 2844,\t                \"positive_test_percentage\": 8.54,\t                \"total_cases\": 1486,\t                \"total_tests\": 21922\t            },\t            {\t                \"date\": \"2020-03-20\",\t                \"new_cases\": 309,\t                \"new_tests\": 2572,\t                \"positive_test_percentage\": 12.01,\t                \"total_cases\": 1795,\t                \"total_tests\": 24494\t            },\t            {\t                \"date\": \"2020-03-21\",\t                \"new_cases\": 462,\t                \"new_tests\": 1934,\t                \"positive_test_percentage\": 23.89,\t                \"total_cases\": 2257,\t                \"total_tests\": 26428\t            },\t            {\t                \"date\": \"2020-03-22\",\t                \"new_cases\": 558,\t                \"new_tests\": 1139,\t                \"positive_test_percentage\": 48.99,\t                \"total_cases\": 2815,\t                \"total_tests\": 27567\t            },\t            {\t                \"date\": \"2020-03-23\",\t                \"new_cases\": 586,\t                \"new_tests\": 2629,\t                \"positive_test_percentage\": 22.29,\t                \"total_cases\": 3401,\t                \"total_tests\": 30196\t            },\t            {\t                \"date\": \"2020-03-24\",\t                \"new_cases\": 342,\t                \"new_tests\": 3264,\t                \"positive_test_percentage\": 10.48,\t                \"total_cases\": 3743,\t                \"total_tests\": 33460\t            },\t            {\t                \"date\": \"2020-03-25\",\t                \"new_cases\": 526,\t                \"new_tests\": 3590,\t                \"positive_test_percentage\": 14.65,\t                \"total_cases\": 4269,\t                \"total_tests\": 37050\t            },\t            {\t                \"date\": \"2020-03-26\",\t                \"new_cases\": 668,\t                \"new_tests\": 3521,\t                \"positive_test_percentage\": 18.97,\t                \"total_cases\": 4937,\t                \"total_tests\": 40571\t            },\t            {\t                \"date\": \"2020-03-27\",\t                \"new_cases\": 1298,\t                \"new_tests\": 4195,\t                \"positive_test_percentage\": 30.94,\t                \"total_cases\": 6235,\t                \"total_tests\": 44766\t            },\t            {\t                \"date\": \"2020-03-28\",\t                \"new_cases\": 1049,\t                \"new_tests\": 3267,\t                \"positive_test_percentage\": 32.11,\t                \"total_cases\": 7284,\t                \"total_tests\": 48033\t            },\t            {\t                \"date\": \"2020-03-29\",\t                \"new_cases\": 1850,\t                \"new_tests\": 2014,\t                \"positive_test_percentage\": 91.86,\t                \"total_cases\": 9134,\t                \"total_tests\": 50047\t            },\t            {\t                \"date\": \"2020-03-30\",\t                \"new_cases\": 1702,\t                \"new_tests\": 3339,\t                \"positive_test_percentage\": 50.97,\t                \"total_cases\": 10836,\t                \"total_tests\": 53386\t            },\t            {\t                \"date\": \"2020-03-31\",\t                \"new_cases\": 1063,\t                \"new_tests\": 5425,\t                \"positive_test_percentage\": 19.59,\t                \"total_cases\": 11899,\t                \"total_tests\": 58811\t            },\t            {\t                \"date\": \"2020-04-01\",\t                \"new_cases\": 876,\t                \"new_tests\": 4795,\t                \"positive_test_percentage\": 18.27,\t                \"total_cases\": 12775,\t                \"total_tests\": 63606\t            },\t            {\t                \"date\": \"2020-04-02\",\t                \"new_cases\": 1189,\t                \"new_tests\": 4721,\t                \"positive_test_percentage\": 25.19,\t                \"total_cases\": 13964,\t                \"total_tests\": 68327\t            },\t            {\t                \"date\": \"2020-04-03\",\t                \"new_cases\": 1384,\t                \"new_tests\": 5171,\t                \"positive_test_percentage\": 26.76,\t                \"total_cases\": 15348,\t                \"total_tests\": 73498\t            },\t            {\t                \"date\": \"2020-04-04\",\t                \"new_cases\": 1422,\t                \"new_tests\": 4308,\t                \"positive_test_percentage\": 33.01,\t                \"total_cases\": 16770,\t                \"total_tests\": 77806\t            },\t            {\t                \"date\": \"2020-04-05\",\t                \"new_cases\": 1661,\t                \"new_tests\": 2505,\t                \"positive_test_percentage\": 66.31,\t                \"total_cases\": 18431,\t                \"total_tests\": 80311\t            },\t            {\t                \"date\": \"2020-04-06\",\t                \"new_cases\": 1260,\t                \"new_tests\": 4384,\t                \"positive_test_percentage\": 28.74,\t                \"total_cases\": 19691,\t                \"total_tests\": 84695\t            },\t            {\t                \"date\": \"2020-04-07\",\t                \"new_cases\": 1123,\t                \"new_tests\": 5677,\t                \"positive_test_percentage\": 19.78,\t                \"total_cases\": 20814,\t                \"total_tests\": 90372\t            },\t            {\t                \"date\": \"2020-04-08\",\t                \"new_cases\": 1380,\t                \"new_tests\": 5972,\t                \"positive_test_percentage\": 23.11,\t                \"total_cases\": 22194,\t                \"total_tests\": 96344\t            },\t            {\t                \"date\": \"2020-04-09\",\t                \"new_cases\": 1209,\t                \"new_tests\": 5970,\t                \"positive_test_percentage\": 20.25,\t                \"total_cases\": 23403,\t                \"total_tests\": 102314\t            },\t            {\t                \"date\": \"2020-04-10\",\t                \"new_cases\": 1580,\t                \"new_tests\": 6245,\t                \"positive_test_percentage\": 25.3,\t                \"total_cases\": 24983,\t                \"total_tests\": 108559\t            },\t            {\t                \"date\": \"2020-04-11\",\t                \"new_cases\": 1684,\t                \"new_tests\": 5883,\t                \"positive_test_percentage\": 28.62,\t                \"total_cases\": 26667,\t                \"total_tests\": 114442\t            },\t            {\t                \"date\": \"2020-04-12\",\t                \"new_cases\": 1351,\t                \"new_tests\": 4841,\t                \"positive_test_percentage\": 27.91,\t                \"total_cases\": 28018,\t                \"total_tests\": 119283\t            },\t            {\t                \"date\": \"2020-04-13\",\t                \"new_cases\": 1629,\t                \"new_tests\": 4551,\t                \"positive_test_percentage\": 35.79,\t                \"total_cases\": 29647,\t                \"total_tests\": 123834\t            },\t            {\t                \"date\": \"2020-04-14\",\t                \"new_cases\": 942,\t                \"new_tests\": 5399,\t                \"positive_test_percentage\": 17.45,\t                \"total_cases\": 30589,\t                \"total_tests\": 129233\t            },\t            {\t                \"date\": \"2020-04-15\",\t                \"new_cases\": 530,\t                \"new_tests\": 7332,\t                \"positive_test_percentage\": 7.23,\t                \"total_cases\": 31119,\t                \"total_tests\": 136565\t            },\t            {\t                \"date\": \"2020-04-16\",\t                \"new_cases\": 2454,\t                \"new_tests\": 7776,\t                \"positive_test_percentage\": 31.56,\t                \"total_cases\": 33573,\t                \"total_tests\": 144341\t            },\t            {\t                \"date\": \"2020-04-17\",\t                \"new_cases\": 1236,\t                \"new_tests\": 7770,\t                \"positive_test_percentage\": 15.91,\t                \"total_cases\": 34809,\t                \"total_tests\": 152111\t            },\t            {\t                \"date\": \"2020-04-18\",\t                \"new_cases\": 1329,\t                \"new_tests\": 7358,\t                \"positive_test_percentage\": 18.06,\t                \"total_cases\": 36138,\t                \"total_tests\": 159469\t            },\t            {\t                \"date\": \"2020-04-19\",\t                \"new_cases\": 1045,\t                \"new_tests\": 4976,\t                \"positive_test_percentage\": 21,\t                \"total_cases\": 37183,\t                \"total_tests\": 164445\t            },\t            {\t                \"date\": \"2020-04-20\",\t                \"new_cases\": 1313,\t                \"new_tests\": 6830,\t                \"positive_test_percentage\": 19.22,\t                \"total_cases\": 38496,\t                \"total_tests\": 171275\t            }\t        ],\t        \"location2\": [\t            {\t                \"date\": \"2020-02-25\",\t                \"new_cases\": 97,\t                \"new_tests\": 4299,\t                \"positive_test_percentage\": 2.26,\t                \"total_cases\": 229,\t                \"total_tests\": 8623\t            },\t            {\t                \"date\": \"2020-02-26\",\t                \"new_cases\": 93,\t                \"new_tests\": 964,\t                \"positive_test_percentage\": 9.65,\t                \"total_cases\": 322,\t                \"total_tests\": 9587\t            },\t            {\t                \"date\": \"2020-02-27\",\t                \"new_cases\": 78,\t                \"new_tests\": 2427,\t                \"positive_test_percentage\": 3.21,\t                \"total_cases\": 400,\t                \"total_tests\": 12014\t            },\t            {\t                \"date\": \"2020-02-28\",\t                \"new_cases\": 250,\t                \"new_tests\": 3681,\t                \"positive_test_percentage\": 6.79,\t                \"total_cases\": 650,\t                \"total_tests\": 15695\t            },\t            {\t                \"date\": \"2020-02-29\",\t                \"new_cases\": 238,\t                \"new_tests\": 2966,\t                \"positive_test_percentage\": 8.02,\t                \"total_cases\": 888,\t                \"total_tests\": 18661\t            },\t            {\t                \"date\": \"2020-03-01\",\t                \"new_cases\": 240,\t                \"new_tests\": 2466,\t                \"positive_test_percentage\": 9.73,\t                \"total_cases\": 1128,\t                \"total_tests\": 21127\t            },\t            {\t                \"date\": \"2020-03-02\",\t                \"new_cases\": 561,\t                \"new_tests\": 2218,\t                \"positive_test_percentage\": 25.29,\t                \"total_cases\": 1689,\t                \"total_tests\": 23345\t            },\t            {\t                \"date\": \"2020-03-03\",\t                \"new_cases\": 347,\t                \"new_tests\": 2511,\t                \"positive_test_percentage\": 13.82,\t                \"total_cases\": 2036,\t                \"total_tests\": 25856\t            },\t            {\t                \"date\": \"2020-03-04\",\t                \"new_cases\": 466,\t                \"new_tests\": 3981,\t                \"positive_test_percentage\": 11.71,\t                \"total_cases\": 2502,\t                \"total_tests\": 29837\t            },\t            {\t                \"date\": \"2020-03-05\",\t                \"new_cases\": 587,\t                \"new_tests\": 2525,\t                \"positive_test_percentage\": 23.25,\t                \"total_cases\": 3089,\t                \"total_tests\": 32362\t            },\t            {\t                \"date\": \"2020-03-06\",\t                \"new_cases\": 769,\t                \"new_tests\": 3997,\t                \"positive_test_percentage\": 19.24,\t                \"total_cases\": 3858,\t                \"total_tests\": 36359\t            },\t            {\t                \"date\": \"2020-03-07\",\t                \"new_cases\": 778,\t                \"new_tests\": 5703,\t                \"positive_test_percentage\": 13.64,\t                \"total_cases\": 4636,\t                \"total_tests\": 42062\t            },\t            {\t                \"date\": \"2020-03-08\",\t                \"new_cases\": 1247,\t                \"new_tests\": 7875,\t                \"positive_test_percentage\": 15.83,\t                \"total_cases\": 5883,\t                \"total_tests\": 49937\t            },\t            {\t                \"date\": \"2020-03-09\",\t                \"new_cases\": 1492,\t                \"new_tests\": 3889,\t                \"positive_test_percentage\": 38.36,\t                \"total_cases\": 7375,\t                \"total_tests\": 53826\t            },\t            {\t                \"date\": \"2020-03-10\",\t                \"new_cases\": 1797,\t                \"new_tests\": 6935,\t                \"positive_test_percentage\": 25.91,\t                \"total_cases\": 9172,\t                \"total_tests\": 60761\t            },\t            {\t                \"date\": \"2020-03-11\",\t                \"new_cases\": 977,\t                \"new_tests\": 12393,\t                \"positive_test_percentage\": 7.88,\t                \"total_cases\": 10149,\t                \"total_tests\": 73154\t            },\t            {\t                \"date\": \"2020-03-12\",\t                \"new_cases\": 2313,\t                \"new_tests\": 12857,\t                \"positive_test_percentage\": 17.99,\t                \"total_cases\": 12462,\t                \"total_tests\": 86011\t            },\t            {\t                \"date\": \"2020-03-13\",\t                \"new_cases\": 2651,\t                \"new_tests\": 11477,\t                \"positive_test_percentage\": 23.1,\t                \"total_cases\": 15113,\t                \"total_tests\": 97488\t            },\t            {\t                \"date\": \"2020-03-14\",\t                \"new_cases\": 2547,\t                \"new_tests\": 11682,\t                \"positive_test_percentage\": 21.8,\t                \"total_cases\": 17660,\t                \"total_tests\": 109170\t            },\t            {\t                \"date\": \"2020-03-15\",\t                \"new_cases\": 3497,\t                \"new_tests\": 15729,\t                \"positive_test_percentage\": 22.23,\t                \"total_cases\": 21157,\t                \"total_tests\": 124899\t            },\t            {\t                \"date\": \"2020-03-16\",\t                \"new_cases\": 2823,\t                \"new_tests\": 13063,\t                \"positive_test_percentage\": 21.61,\t                \"total_cases\": 23980,\t                \"total_tests\": 137962\t            },\t            {\t                \"date\": \"2020-03-17\",\t                \"new_cases\": 4000,\t                \"new_tests\": 10695,\t                \"positive_test_percentage\": 37.4,\t                \"total_cases\": 27980,\t                \"total_tests\": 148657\t            },\t            {\t                \"date\": \"2020-03-18\",\t                \"new_cases\": 3526,\t                \"new_tests\": 16884,\t                \"positive_test_percentage\": 20.88,\t                \"total_cases\": 31506,\t                \"total_tests\": 165541\t            },\t            {\t                \"date\": \"2020-03-19\",\t                \"new_cases\": 4207,\t                \"new_tests\": 17236,\t                \"positive_test_percentage\": 24.41,\t                \"total_cases\": 35713,\t                \"total_tests\": 182777\t            },\t            {\t                \"date\": \"2020-03-20\",\t                \"new_cases\": 5322,\t                \"new_tests\": 24109,\t                \"positive_test_percentage\": 22.07,\t                \"total_cases\": 41035,\t                \"total_tests\": 206886\t            },\t            {\t                \"date\": \"2020-03-21\",\t                \"new_cases\": 5986,\t                \"new_tests\": 26336,\t                \"positive_test_percentage\": 22.73,\t                \"total_cases\": 47021,\t                \"total_tests\": 233222\t            },\t            {\t                \"date\": \"2020-03-22\",\t                \"new_cases\": 6557,\t                \"new_tests\": 25180,\t                \"positive_test_percentage\": 26.04,\t                \"total_cases\": 53578,\t                \"total_tests\": 258402\t            },\t            {\t                \"date\": \"2020-03-23\",\t                \"new_cases\": 5560,\t                \"new_tests\": 17066,\t                \"positive_test_percentage\": 32.58,\t                \"total_cases\": 59138,\t                \"total_tests\": 275468\t            },\t            {\t                \"date\": \"2020-03-24\",\t                \"new_cases\": 4789,\t                \"new_tests\": 21496,\t                \"positive_test_percentage\": 22.28,\t                \"total_cases\": 63927,\t                \"total_tests\": 296964\t            },\t            {\t                \"date\": \"2020-03-25\",\t                \"new_cases\": 5249,\t                \"new_tests\": 27481,\t                \"positive_test_percentage\": 19.1,\t                \"total_cases\": 69176,\t                \"total_tests\": 324445\t            },\t            {\t                \"date\": \"2020-03-26\",\t                \"new_cases\": 5210,\t                \"new_tests\": 36615,\t                \"positive_test_percentage\": 14.23,\t                \"total_cases\": 74386,\t                \"total_tests\": 361060\t            },\t            {\t                \"date\": \"2020-03-27\",\t                \"new_cases\": 6153,\t                \"new_tests\": 33019,\t                \"positive_test_percentage\": 18.63,\t                \"total_cases\": 80539,\t                \"total_tests\": 394079\t            },\t            {\t                \"date\": \"2020-03-28\",\t                \"new_cases\": 5959,\t                \"new_tests\": 35447,\t                \"positive_test_percentage\": 16.81,\t                \"total_cases\": 86498,\t                \"total_tests\": 429526\t            },\t            {\t                \"date\": \"2020-03-29\",\t                \"new_cases\": 5974,\t                \"new_tests\": 24504,\t                \"positive_test_percentage\": 24.38,\t                \"total_cases\": 92472,\t                \"total_tests\": 454030\t            },\t            {\t                \"date\": \"2020-03-30\",\t                \"new_cases\": 5217,\t                \"new_tests\": 23329,\t                \"positive_test_percentage\": 22.36,\t                \"total_cases\": 97689,\t                \"total_tests\": 477359\t            },\t            {\t                \"date\": \"2020-03-31\",\t                \"new_cases\": 4050,\t                \"new_tests\": 29609,\t                \"positive_test_percentage\": 13.68,\t                \"total_cases\": 101739,\t                \"total_tests\": 506968\t            },\t            {\t                \"date\": \"2020-04-01\",\t                \"new_cases\": 4053,\t                \"new_tests\": 34455,\t                \"positive_test_percentage\": 11.76,\t                \"total_cases\": 105792,\t                \"total_tests\": 541423\t            },\t            {\t                \"date\": \"2020-04-02\",\t                \"new_cases\": 4782,\t                \"new_tests\": 39809,\t                \"positive_test_percentage\": 12.01,\t                \"total_cases\": 110574,\t                \"total_tests\": 581232\t            },\t            {\t                \"date\": \"2020-04-03\",\t                \"new_cases\": 4668,\t                \"new_tests\": 38617,\t                \"positive_test_percentage\": 12.09,\t                \"total_cases\": 115242,\t                \"total_tests\": 619849\t            },\t            {\t                \"date\": \"2020-04-04\",\t                \"new_cases\": 4585,\t                \"new_tests\": 37375,\t                \"positive_test_percentage\": 12.27,\t                \"total_cases\": 119827,\t                \"total_tests\": 657224\t            },\t            {\t                \"date\": \"2020-04-05\",\t                \"new_cases\": 4805,\t                \"new_tests\": 34237,\t                \"positive_test_percentage\": 14.03,\t                \"total_cases\": 124632,\t                \"total_tests\": 691461\t            },\t            {\t                \"date\": \"2020-04-06\",\t                \"new_cases\": 4316,\t                \"new_tests\": 30271,\t                \"positive_test_percentage\": 14.26,\t                \"total_cases\": 128948,\t                \"total_tests\": 721732\t            },\t            {\t                \"date\": \"2020-04-07\",\t                \"new_cases\": 3599,\t                \"new_tests\": 33713,\t                \"positive_test_percentage\": 10.68,\t                \"total_cases\": 132547,\t                \"total_tests\": 755445\t            },\t            {\t                \"date\": \"2020-04-08\",\t                \"new_cases\": 3039,\t                \"new_tests\": 51680,\t                \"positive_test_percentage\": 5.88,\t                \"total_cases\": 135586,\t                \"total_tests\": 807125\t            },\t            {\t                \"date\": \"2020-04-09\",\t                \"new_cases\": 3836,\t                \"new_tests\": 46244,\t                \"positive_test_percentage\": 8.3,\t                \"total_cases\": 139422,\t                \"total_tests\": 853369\t            },\t            {\t                \"date\": \"2020-04-10\",\t                \"new_cases\": 4204,\t                \"new_tests\": 53495,\t                \"positive_test_percentage\": 7.86,\t                \"total_cases\": 143626,\t                \"total_tests\": 906864\t            },\t            {\t                \"date\": \"2020-04-11\",\t                \"new_cases\": 3951,\t                \"new_tests\": 56609,\t                \"positive_test_percentage\": 6.98,\t                \"total_cases\": 147577,\t                \"total_tests\": 963473\t            },\t            {\t                \"date\": \"2020-04-12\",\t                \"new_cases\": 4694,\t                \"new_tests\": 46720,\t                \"positive_test_percentage\": 10.05,\t                \"total_cases\": 152271,\t                \"total_tests\": 1010193\t            },\t            {\t                \"date\": \"2020-04-13\",\t                \"new_cases\": 4092,\t                \"new_tests\": 36717,\t                \"positive_test_percentage\": 11.14,\t                \"total_cases\": 156363,\t                \"total_tests\": 1046910\t            },\t            {\t                \"date\": \"2020-04-14\",\t                \"new_cases\": 3153,\t                \"new_tests\": 26779,\t                \"positive_test_percentage\": 11.77,\t                \"total_cases\": 159516,\t                \"total_tests\": 1073689\t            },\t            {\t                \"date\": \"2020-04-15\",\t                \"new_cases\": 2972,\t                \"new_tests\": 43715,\t                \"positive_test_percentage\": 6.8,\t                \"total_cases\": 162488,\t                \"total_tests\": 1117404\t            },\t            {\t                \"date\": \"2020-04-16\",\t                \"new_cases\": 2667,\t                \"new_tests\": 60999,\t                \"positive_test_percentage\": 4.37,\t                \"total_cases\": 165155,\t                \"total_tests\": 1178403\t            },\t            {\t                \"date\": \"2020-04-17\",\t                \"new_cases\": 3786,\t                \"new_tests\": 65705,\t                \"positive_test_percentage\": 5.76,\t                \"total_cases\": 168941,\t                \"total_tests\": 1244108\t            },\t            {\t                \"date\": \"2020-04-18\",\t                \"new_cases\": 3493,\t                \"new_tests\": 61725,\t                \"positive_test_percentage\": 5.66,\t                \"total_cases\": 172434,\t                \"total_tests\": 1305833\t            },\t            {\t                \"date\": \"2020-04-19\",\t                \"new_cases\": 3491,\t                \"new_tests\": 50708,\t                \"positive_test_percentage\": 6.88,\t                \"total_cases\": 175925,\t                \"total_tests\": 1356541\t            },\t            {\t                \"date\": \"2020-04-20\",\t                \"new_cases\": 3047,\t                \"new_tests\": 41483,\t                \"positive_test_percentage\": 7.35,\t                \"total_cases\": 178972,\t                \"total_tests\": 1398024\t            },\t            {\t                \"date\": \"2020-04-21\",\t                \"new_cases\": 2256,\t                \"new_tests\": 52126,\t                \"positive_test_percentage\": 4.33,\t                \"total_cases\": 181228,\t                \"total_tests\": 1450150\t            },\t            {\t                \"date\": \"2020-04-22\",\t                \"new_cases\": 2729,\t                \"new_tests\": 63101,\t                \"positive_test_percentage\": 4.32,\t                \"total_cases\": 183957,\t                \"total_tests\": 1513251\t            }\t        ]\t    }\t}\t*/","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":520,"wires":[["d04b500a.baa45","9476a458.94ece8","d308a880.137648","529b9278.947aac"]]},{"id":"529b9278.947aac","type":"debug","z":"3a9fb996.bbe926","name":"running average","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":520,"wires":[]},{"id":"4b0da2ab.fc904c","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"running_average_days","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":40,"wires":[["f211e551.667b68"]]},{"id":"bddf1478.9b09c8","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"7","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":40,"wires":[["a3a09f70.89765"]]},{"id":"15636a9d.bbd545","type":"ui_text_input","z":"3a9fb996.bbe926","name":"","label":"max date in data set","tooltip":"","group":"7bc90a44.ed8dd4","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1060,"y":160,"wires":[[]]},{"id":"9b88f1d0.e8c99","type":"change","z":"3a9fb996.bbe926","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$max(payload.$toMillis(date))~>$fromMillis()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":160,"wires":[["15636a9d.bbd545"]]},{"id":"79b611ae.ae3ec","type":"ui_text_input","z":"3a9fb996.bbe926","name":"","label":"last time date retrieved","tooltip":"","group":"7bc90a44.ed8dd4","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1140,"y":220,"wires":[[]]},{"id":"185638b4.45eab7","type":"change","z":"3a9fb996.bbe926","name":"get timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":220,"wires":[["79b611ae.ae3ec"]]},{"id":"a3a09f70.89765","type":"ui_slider","z":"3a9fb996.bbe926","name":"","label":"running average number of days:","tooltip":"","group":"7075490e.7cac28","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"1","max":"20","step":1,"x":700,"y":40,"wires":[["4b0da2ab.fc904c"]]}]